// bower:scss

@import 'color-palette'; 

/****************************************************************************/
/* Universal Styles & Common Fixes */
/****************************************************************************/

body {
    background-color: #fafafa;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
    cursor: auto;
}
/****************************************************************************/
/* Main View */
/****************************************************************************/

/*========== Personal Info Section ==========*/


.header-bg {
  background-color: $primary;
  height: 200px;
  position: absolute;
  width: 100%;
}

.paper-sheet {
  position: relative;
  background-color: white;
  border-radius: 2px;
  height: 1.5*842px;
  max-width: 1.5*595px;
  width: 100%;
  z-index: 1;
  margin-bottom: 30px;
    .personal-section {
      background-color: black; 
      color: white;
      height: 100%;
    }
    .profile-picture {
        background-color: $primary-hue-1;
        // background: url('../images/12.jpg') no-repeat center/cover;
    }
    
    .personal-info {
        h1, h2, h3 {
                font-weight: 100;
            }
    }
}

/*========== Professional Info ==========*/


.personal-info {
        padding: 10% 15%;
        h1 {
            margin-top: 2.2em;
            &:nth-of-type(1) {
                margin-top: 0.67em;
            }
        }
        h3 {
            opacity: 0.7;
            margin: 0;
        }
        h2 {
            margin: 2.2em 0 0.3em 0;
        }
        .language {
            width: 60px;
            height: 90px;
            display: inline-block;
            text-align: center;
            margin: 1.2em .6em .5em 0;
        }
        .language-bubble {
            margin-bottom: .5em;
            position: relative;
            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

    }

.professional-info {
    padding: 5% 10%;
    h1 {
        font-weight: 100;
    }
    h2 {
        font-weight: 100;
        margin-bottom: 0;
        margin-top: 1.5em;
        font-weight: 800;
    }
    h3 {
        margin-top: 0;
    }
    p {
        margin-top: .5em;
    }

    .work-items, .education-items {
        border-left: 1px dashed $primary;
        li {
            position: relative;
            padding-left: 95px;
        }
    }
    

    .time-period {
        position: absolute;
        left: 0;
        top: 4px;
        padding-left: 15px;
        &:before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            border: 2px solid $primary;
            border-radius: 100%;
            left: -8px;
            background-color: white;
        }
    }

    .skills-container {
        h3 {
            margin: .1em;
            font-weight: 400;
        }
    }
    .skills-professional, .skills-personal {
         h2 {
            margin-top: .5em;
        }
    }
}

.bar-max {
    margin-bottom: 0.3em;
    background-color: rgba(0, 0, 0, .1);
    height: 7px;
    width: 90%;
    .bar-current {
        display: block;
        width: 50%;
        height: 100%;
        background-color: $primary; 
    }
}




/*========== Dialog and Fab ==========*/


#send-button {
    position: relative;
    left: 30px;
    top: 164px;
    &[z-depth="2"] {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
}

#send-dialog {
    md-dialog-content, md-dialog-actions {
        background-color: #fafafa;
    }
    
    ul {
        padding: 0;
        padding-top: 30px;
        li {
            display: inline-block;
            padding-left: 40px;
            &:nth-child(1) {
                padding-left: 0;
            }
        }
    }

    .no-uppercase {
        text-transform: initial;
    }

    md-input-container {
        padding-top: 1px;
    }
}

/*========== Professional Section ==========*/


.action-buttons {
    float: right;
    position: absolute;
    right: 0;
    top:0;
}

hr {
    opacity: .2;
}

// endbower

