<md-dialog aria-label="Send Your Resume Dialog" ng-cloak id="send-dialog">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Send your resume</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close Dialog"><i class="material-icons">close</i></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <p>You can send it by email in any kind of format, or just get a link and share it.</p>
        <form action="">
          <div class="formats">
            <ul>
              <li>
                <md-checkbox aria-label="Web">
                  Web
                </md-checkbox>
              </li>
              <li>
                <md-checkbox aria-label="PDF">
                  PDF
                </md-checkbox>
              </li>
              <li>
                <md-checkbox aria-label="JSON">
                  JSON
                </md-checkbox>
              </li>
            </ul>
          </div>
          <md-input-container class="md-block md-accent" flex-gt-sm>
            <label >Email address you want to send to</label>
            <input>
          </md-input-container>

        </form>
      </div>
    </md-dialog-content>
    <span flex></span>
    <md-dialog-actions layout="row">
      <md-button class="md-accent no-uppercase" href="http://en.wikipedia.org/wiki/Mango" target="_blank" >
        <span class="md-caption">Get a link</span>
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')" class="md-accent">
       CANCEL
      </md-button>
      <md-button ng-click="answer('useful')" style="margin-right:20px;" class="md-accent" md-autofocus>
        SEND
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>