<div ng-controller="MainCtrl as profile">
    <div class="header-bg">
    </div>
    <div layout="row" layout-align="center start">
        <div md-whiteframe="2" class="paper-sheet" layout="row">
            <div layout="column" class="personal-section" flex="35">
                <div class="profile-picture" flex></div>
                <div flex="75" class="personal-info">
                    <h1 class="md-headline">PROFILE</h1>
                        <h2 class="md-body-1">Birthday:</h2>
                        <h3 class="md-body-1">{{profileData.birthday | date : longDate}}</h3>
                        <h2 class="md-body-1">Address:</h2>
                        <h3 class="md-body-1">{{profileData.address}}</h3>
                        <h2 class="md-body-1">Phone:</h2>
                        <h3 class="md-body-1">{{profileData.phoneNumber}}</h3>
                        <h2 class="md-body-1">Email:</h2>
                        <h3 class="md-body-1">{{profileData.emailAddress}}</h3>
                        <h2 class="md-body-1">Website/Links/Social Media:</h2>
                        <ul >
                        <li ng-repeat="webLink in profileData.webLinks"><h3 class="md-body-1">{{webLink}}</h3></li>
                        </ul>
                    <h1 class="md-headline">REFERENCES</h1>
                        <ul>
                            <li class="reference" ng-repeat="reference in profileData.references"><h3 class="md-body-1">{{reference.referenceName}}</h3>
                            <h3 class="md-body-1">{{reference.referencePhone}}</h3></li>
                            <li class="reference" ng-if="profileData.references.length === 0"><h3 class="md-body-1">None</h3></li>
                        </ul>
                    <h1 class="md-headline">LANGUAGES</h1>
                        <div class="language" ng-repeat="language in profileData.languages">
                            <div class="language-bubble">
                                <round-progress
                                    max="100"
                                    current="language.level"
                                    color="#fff"
                                    bgcolor="#263238"
                                    radius="28"
                                    stroke="4"
                                    semi="fasle"
                                    rounded="false"
                                    clockwise="true"
                                    responsive="false"
                                    duration="800"
                                    animation="easeInOutQuart"
                                    animation-delay="0">
                                </round-progress>
                                <span class="md-caption" ng-if="!language.native" ng-href="template">{{language.level}}%</span>
                                <span class="md-caption" ng-if="language.native">Native</span>
                            </div>
                            <h3 class="md-body-1">{{language.language}}</h3>
                        </div>
                </div>
            </div>
            <div class="main-content" layout="column" flex>
                <div class="action-buttons" flex>
                  <a ui-sref="preview" ><md-button class="md-accent">Preview</md-button></a>
                  <md-button  class="md-icon-button md-accent" >
                    <md-icon><i class="material-icons ">file_download</i></md-icon>
                  </md-button> 
                  <md-button  class="md-icon-button md-accent" >
                    <md-icon><i class="material-icons">mode_edit</i></md-icon>
                  </md-button> 
                </div>
                <div class="professional-info" layout="column" flex>
                    <div flex>
                        <h1 class="md-headline">WORK EXPERIENCE</h1>
                        <div class="work-items">
                            <ul>
                                <li ng-repeat="work in profileData.workExperience">
                                    <span class="time-period md-caption">{{work.time}}</span>
                                    <h2 class="md-body-2">{{work.companyName | uppercase}}</h2>
                                    <h3 class="md-body-2">{{work.jobPosition}}</h3>
                                    <p class="md-caption">{{work.jobDescription}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div flex>
                        <hr>
                        <h1 class="md-headline">EDUCATION</h1>
                        <div class="education-items">
                            <ul>
                                <li ng-repeat="achievement in profileData.education">
                                    <span class="time-period md-caption">{{achievement.time}}</span>
                                    <h2 class="md-body-2">{{achievement.career}}</h2>
                                    <h3 class="md-body-2">{{achievement.institutionName}}</h3>
                                    <p class="md-caption">{{achievement.experience}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div flex>
                        <hr>
                        <h1 class="md-headline">SKILLS</h1>
                        <div class="skills-container" layout="row">
                            <div flex class="skills-professional">
                            <h2 class="md-body-2">PROFESSIONAL</h2>
                            <ul>
                                <li ng-repeat="skill in profileData.skills.professionalSkills">
                                    <h3 class="md-caption">{{skill.skill}}</h3>
                                    <div class="bar-max">
                                        <span class="bar-current" data-level="{{skill.level}}"></span>
                                    </div>
                                </li>
                            </ul>
                            </div>
                            <div flex class="skills-personal">
                                <h2 class="md-body-2">PERSONAL</h2>
                                <ul>
                                <li ng-repeat="skill in profileData.skills.personalSkills">
                                    <h3 class="md-caption">{{skill.skill}}</h3>
                                    <div class="bar-max">
                                        <span class="bar-current" data-level="{{skill.level}}"></span>
                                    </div>
                                </li>
                                {{updateSkillLevel()}}
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <md-button ng-click="showSend($event)" class="md-fab md-accent " z-depth="2" id="send-button" aria-label="Eat cake">
            <md-icon ><i class="material-icons">send</i></md-icon>
        </md-button>
    </div>
</div>