<div ng-controller="MainCtrl as profile">
    <div class="header-bg">
    </div>
    <div layout="row" layout-align="center start">
        <div md-whiteframe="2" class="paper-sheet" layout="row">
            <div layout="column" class="personal-section" flex="35">
                <div class="profile-picture" flex></div>
                <div flex="75" class="personal-info">
                    <h1 class="md-headline">PROFILE</h1>
                        <h2 class="md-body-1">Birthday:</h2>
                        <h3 class="md-body-1">{{profileData.birthday}}</h3>
                        <h2 class="md-body-1">Address:</h2>
                        <h3 class="md-body-1">Herreros 174B, San Pedrito Peñuelas, 76148</h3>
                        <h2 class="md-body-1">Phone:</h2>
                        <h3 class="md-body-1">(442) 230 8556</h3>
                        <h2 class="md-body-1">Email:</h2>
                        <h3 class="md-body-1">misael.upg@gmail.com</h3>
                        <h2 class="md-body-1">Website/Links/Social Media:</h2>
                        <ul>
                        <li><h3 class="md-body-1">http://linkedin.com/misael.upg</h3></li>
                        <li><h3 class="md-body-1">http://twitter.com/misael.upg</h3></li>
                        <li><h3 class="md-body-1">http://gitlab.com/misael_upg</h3></li>
                        <li><h3 class="md-body-1">http://github.com/misael_upg</h3></li>
                        </ul>
                    <h1 class="md-headline">REFERENCES</h1>
                        <ul>
                            <li><h3 class="md-body-1">None</h3></li>
                        </ul>
                    <h1 class="md-headline">LANGUAGES</h1>
                        <div class="language">
                            <div class="language-bubble">
                                <round-progress
                                    max="100"
                                    current="75"
                                    color="#fff"
                                    bgcolor="#263238"
                                    radius="28"
                                    stroke="4"
                                    semi="fasle"
                                    rounded="false"
                                    clockwise="true"
                                    responsive="false"
                                    duration="800"
                                    animation="easeInOutQuart"
                                    animation-delay="0">
                                </round-progress>
                                <span class="md-caption">75%</span>
                            </div>
                            <h3 class="md-body-1">English</h3>
                        </div>
                        <div class="language">
                            <div class="language-bubble">
                                <round-progress
                                    max="100"
                                    current="25"
                                    color="#fff"
                                    bgcolor="#263238"
                                    radius="28"
                                    stroke="4"
                                    semi="fasle"
                                    rounded="false"
                                    clockwise="true"
                                    responsive="false"
                                    duration="800"
                                    animation="easeInOutQuart"
                                    animation-delay="0">
                                </round-progress>
                                <span class="md-caption">25%</span>
                            </div>
                            <h3 class="md-body-1">French</h3>
                        </div>
                        <div class="language">
                            <div class="language-bubble">
                                <round-progress
                                    max="100"
                                    current="100"
                                    color="#fff"
                                    bgcolor="#eceff1"
                                    radius="28"
                                    stroke="4"
                                    semi="fasle"
                                    rounded="false"
                                    clockwise="true"
                                    responsive="false"
                                    duration="800"
                                    animation="easeInOutQuart"
                                    animation-delay="0">
                                </round-progress>
                                <span class="md-caption">Native</span>
                            </div>
                            <h3 class="md-body-1">Spanish</h3>
                        </div>
                </div>
            </div>
            <div class="main-content" layout="column" flex>
                <div class="action-buttons" flex>
                  <a ui-sref="preview" ><md-button class="md-accent">Preview</md-button></a>
                  <md-button  class="md-icon-button md-accent" >
                    <md-icon><i class="material-icons ">file_download</i></md-icon>
                  </md-button> 
                  <md-button  class="md-icon-button md-accent" >
                    <md-icon><i class="material-icons">mode_edit</i></md-icon>
                  </md-button> 
                </div>
                <div class="professional-info" layout="column" flex>
                    <div flex>
                        <h1 class="md-headline">WORK EXPERIENCE</h1>
                        <div class="work-items">
                            <ul>
                                <li>
                                    <span class="time-period md-caption">2016-2012</span>
                                    <h2 class="md-body-2">CONTACT CENTER SANTANDER</h2>
                                    <h3 class="md-body-2">Operador Banca Telefónica</h3>
                                    <p class="md-caption">Material takes cues from contemporary architecture, road signs, pavement marking tape, and athletic courts. Color should be unexpected and vibrant.</p>
                                </li>
                                <li>
                                    <span class="time-period md-caption">2016-2012</span>
                                    <h2 class="md-body-2">ABSTRACT INC.</h2>
                                    <h3 class="md-body-2">Operador Banca Telefónica</h3>
                                    <p class="md-caption">Material takes cues from contemporary architecture, road signs, pavement marking tape, and athletic courts. Color should be unexpected and vibrant.</p>
                                </li>
                                <li>
                                    <span class="time-period md-caption">2016-2012</span>
                                    <h2 class="md-body-2">GOOGLE INC.</h2>
                                    <h3 class="md-body-2">Operador Banca Telefónica</h3>
                                    <p class="md-caption">Material takes cues from contemporary architecture, road signs, pavement marking tape, and athletic courts. Color should be unexpected and vibrant.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div flex>
                        <hr>
                        <h1 class="md-headline">EDUCATION</h1>
                        <div class="education-items">
                            <ul>
                                <li>
                                    <span class="time-period md-caption">2016-2012</span>
                                    <h2 class="md-body-2">CONTACT CENTER SANTANDER</h2>
                                    <h3 class="md-body-2">Operador Banca Telefónica</h3>
                                    <p class="md-caption">Material takes cues from contemporary architecture, road signs, pavement marking tape, and athletic courts. Color should be unexpected and vibrant.</p>
                                </li>
                                <li>
                                    <span class="time-period md-caption">2016-2012</span>
                                    <h2 class="md-body-2">ABSTRACT INC.</h2>
                                    <h3 class="md-body-2">Operador Banca Telefónica</h3>
                                    <p class="md-caption">Material takes cues from contemporary architecture, road signs, pavement marking tape, and athletic courts. Color should be unexpected and vibrant.</p>
                                </li>
                                <li>
                                    <span class="time-period md-caption">2016-2012</span>
                                    <h2 class="md-body-2">GOOGLE INC.</h2>
                                    <h3 class="md-body-2">Operador Banca Telefónica</h3>
                                    <p class="md-caption">Material takes cues from contemporary architecture, road signs, pavement marking tape, and athletic courts. Color should be unexpected and vibrant.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div flex>
                        <hr>
                        <h1 class="md-headline">SKILLS</h1>
                        <div class="skills-container" layout="row">
                            <div flex class="skills-professional">
                            <h2 class="md-body-2">PROFESSIONAL</h2>
                            <ul>
                                <li>
                                    <h3 class="md-caption">UX, UI, HCI, HCD</h3>
                                    <div class="bar-max">
                                        <span class="bar-current"></span>
                                    </div>
                                </li>
                                <li>
                                    <h3 class="md-caption">Python, Django, Flask</h3>
                                    <div class="bar-max">
                                        <span class="bar-current"></span>
                                    </div>
                                </li>
                                <li>
                                    <h3 class="md-caption">PHP, Laravel</h3>
                                    <div class="bar-max">
                                        <span class="bar-current"></span>
                                    </div>
                                </li>
                                <li>
                                    <h3 class="md-caption">Ruby</h3>
                                    <div class="bar-max">
                                        <span class="bar-current"></span>
                                    </div>
                                </li>
                                <li>
                                    <h3 class="md-caption">Angular, Polymer</h3>
                                    <div class="bar-max">
                                        <span class="bar-current"></span>
                                    </div>
                                </li>
                                <li>
                                    <h3 class="md-caption">Git, GitHub, GitLab, TaskRunners</h3>
                                    <div class="bar-max">
                                        <span class="bar-current"></span>
                                    </div>
                                </li>
                                <li>
                                    <h3 class="md-caption">Sketch, Illustrator, Photoshop</h3>
                                    <div class="bar-max">
                                        <span class="bar-current"></span>
                                    </div>
                                </li>
                                <li>
                                    <h3 class="md-caption">Relational & Non Relational DB</h3>
                                    <div class="bar-max">
                                        <span class="bar-current"></span>
                                    </div>
                                </li>
                            </ul>
                            </div>
                            <div flex class="skills-personal">
                                <h2 class="md-body-2">PERSONAL</h2>
                                <ul>
                                <li>
                                    <h3 class="md-caption">Communication, Team Work</h3>
                                    <div class="bar-max">
                                        <span class="bar-current"></span>
                                    </div>
                                </li>
                                <li>
                                    <h3 class="md-caption">Attention to detail, Obsession, Quality</h3>
                                    <div class="bar-max">
                                        <span class="bar-current"></span>
                                    </div>
                                </li>
                                <li>
                                    <h3 class="md-caption">Self-learning, Curiosity</h3>
                                    <div class="bar-max">
                                        <span class="bar-current"></span>
                                    </div>
                                </li>
                                <li>
                                    <h3 class="md-caption">Empathy</h3>
                                    <div class="bar-max">
                                        <span class="bar-current"></span>
                                    </div>
                                </li>
                                <li>
                                    <h3 class="md-caption">Vision, Creativity</h3>
                                    <div class="bar-max">
                                        <span class="bar-current"></span>
                                    </div>
                                </li>
                                <li>
                                    <h3 class="md-caption">Sociable, Frienly</h3>
                                    <div class="bar-max">
                                        <span class="bar-current"></span>
                                    </div>
                                </li>
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <md-button ng-click="showSend($event)" class="md-fab md-accent " z-depth="2" id="send-button" aria-label="Eat cake">
            <md-icon ><i class="material-icons">send</i></md-icon>
        </md-button>
    </div>
</div>